html, body {
    overflow-x: hidden;
}
.navbar {
    align-items: center;
    padding: 0 2%;
    /* position: absolute; */
    top: 0;
    width: 100%;
    position: sticky;
    height: 10vh;
    background-color: white;
    z-index: 113;
}

.navbar h4 {
    color: black;
}

.brand-logo {
    width: 16%;

}
.brand-logo img {
    width: 70%;
}
/* .gradient-line {
    width: 100vw;
    height: 10vh;
    background-color: rgb(4, 187, 4);
    z-index: 114;
    top: 0;
    position: absolute;
} */

#nav-container {
    position: absolute;
    right: 5%;
}
/* ************************************* */
.download-rep-btn {
    list-style: none;
    padding: 0;
    text-align: center;
  }
.download-rep-btn div{
    width: 55%;
    justify-content: center;
}
  
 
  
  .download-rep-btn a {
    display: flex;
    text-align: center;
    align-items: center;
    /* width: 50%; */
    padding: 6px 9px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .download-rep-btn a:hover {
    background-color: #0056b3;
  }
  
  .download-rep-btn img {
    width: 16%;
    margin-left: 25px;
    transition: transform 0.3s;
  }
  
  .download-rep-btn a:hover img {
    transform: translateX(5px);
  }
  
/* ************************************* */

#nav-toggle {
    /* background-color: #0e4d7f; */
    border-radius: 100%;
    /* padding: 2%; */
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(0deg);
}

#nav-toggle span {
    background-color: #000000;
    width: 70%;

    height: 4px;
    border-radius: 1px;
    display: block;
    position: absolute;
    left: 50%;
    /* top: 50px; */
    transform: translate(-50%, -50%);
    content: '';
    transition: .5s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 12px;
    transform-origin: left center;
}

#nav-toggle span:nth-child(2) {
    top: 20px;
    transform-origin: left center;
}

#nav-toggle span:nth-child(3) {
    top: 28px;
    transform-origin: left center;
}

#nav-toggle.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    left: 10px;
}

#nav-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-toggle.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 10px;
}
/* .top-strip{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 10vh;
} */
#nav-overlay {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -111;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    transition: 1s;
    transform: scale3d(0, 0, 0);
    /* width: 25vw;
    height: 25vw; */
}

#nav-overlay.open {
    transform: scale3d(1, 1, 1);
}

#nav-fullscreen {
    height: auto;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: ease-in-out 0.25s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}
.nav-menu-wrap {
    width: 100%;
}
.nav-menu-wrap div {
display: flex;
width: 100%;
justify-content: center;
background: #0e4d7f;
}
#nav-fullscreen ul {
    border-bottom: 2px solid black;
    list-style: none;
    z-index: 2;
}

#nav-fullscreen a {
    color: #141414;
    text-decoration: none;
}

#nav-fullscreen.open b{
    color: rgb(4, 187, 4);
    border-bottom: 2px solid #fff;
}
#nav-fullscreen.open {
    visibility: visible;
    font-size: 20px;
    z-index: -1;
    /* font-weight: 600; */
    display: flex;
    align-items: center;
    opacity: 1;
    transition: ease-in-out 0.5s;
    transition-delay: 0.25s;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#nav-overlay {
    background-color: white;
}



#nav-fullscreen a:hover {
color: rgb(4, 187, 4);
}

.nav-menu-wrap {
    display: flex;
    /* width: 100vw; */
    margin: auto;
    /* border: 2px solid black; */

    align-items: center;
    justify-content: center;
}

.nav-menu-dynamic-img-container {
    width: 400px;
    height: 400px;
}

.nav-menu-dynamic-img-container img {
    width: 100%;
    height: 100%;
}
@media (max-width: 850px) {
    .brand-logo {
        width: 40%;
    }
  }
@media (max-width: 500px) {
    .brand-logo {
        width: 60%;
    }
    .brand-logo img {
        width: 100%;
    }
    .navbar {
        padding: 0 5%;
    }
    #nav-fullscreen.open {
        font-size: 16px;
    }

    #nav-overlay {
        padding-top: 15%;
        width: 90vw;
        height: 90vw;
        color: #0c0c0c;
        background-color: #0e4d7f;
    }
    .nav-menu-wrap {
        display: block;
        margin-top: 20%;
    }
    #nav-fullscreen a {
        color: #fff;
        /* margin: 0 !important; */
        }
}
